@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-youtube:before {
  content: "\e90b";
}

._icon-SL:before {
  content: "\e909";
}

._icon-LenkedIn:before {
  content: "\e907";
}

._icon-Google:before {
  content: "\e906";
}

._icon-twitter:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-arrow-right:before {
  content: "\e903";
}

._icon-usd:before {
  content: "\e902";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-cross:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container-wide] {
  max-width: 83.75rem !important;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 !important;
  padding: 0 1.25rem;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 11px 70px;
  color: #4CB649;
  font-weight: 500;
  line-height: 1.2857142857;
  border: 1px solid #4CB649;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  background-color: #fff;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 340px;
  display: block;
  padding: 0px 95px;
  background: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
  height: 3.6875rem;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

input::-webkit-input-placeholder {
  color: #22252E;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

input::-moz-placeholder {
  color: #22252E;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

input:-ms-input-placeholder {
  color: #22252E;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

input::-ms-input-placeholder {
  color: #22252E;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

input::placeholder {
  color: #22252E;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2222222222;
}

.title {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4166666667;
  color: #22252E;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-left: clamp( 0.0000000625rem , -4.4782607853rem  +  22.3913042391vw , 12.875rem )) {
  .header__container-wide {
    padding-left: clamp( 0.0000000625rem , -4.4782607853rem  +  22.3913042391vw , 12.875rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -4.4782607853rem  +  22.3913042391vw , 12.875rem )) {
  .header__container-wide {
    padding-left: calc(0.0000000625rem + 12.8749999375 * (100vw - 20rem) / 57.5);
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header__login {
  padding: 11px 20px;
}

.header__started {
  padding: 11px 31px;
}

.touch .header__started {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#4CB649), to(#5DDF5A));
  background: -o-linear-gradient(bottom, #4CB649 0%, #5DDF5A 100%);
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
}

.logo {
  position: relative;
  z-index: 4;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.9375rem , 0.1766304348rem  +  3.8043478261vw , 3.125rem )) {
  .menu__list {
    gap: clamp( 0.9375rem , 0.1766304348rem  +  3.8043478261vw , 3.125rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.1766304348rem  +  3.8043478261vw , 3.125rem )) {
  .menu__list {
    gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 57.5);
  }
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 10px;
}

.menu__item::before {
  font-size: 0.3125rem;
  position: absolute;
  top: 6px;
  right: -15px;
  color: #323642;
}

.menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: #4CB649;
  opacity: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  color: #323642;
  line-height: 1.2857142857;
  text-transform: uppercase;
}

.menu-open .menu__link {
  font-size: 1.25rem;
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 2.75rem , 1.8804347826rem  +  4.347826087vw , 5.25rem )) {
  .footer {
    padding-top: clamp( 2.75rem , 1.8804347826rem  +  4.347826087vw , 5.25rem );
  }
}

@supports not (padding-top: clamp( 2.75rem , 1.8804347826rem  +  4.347826087vw , 5.25rem )) {
  .footer {
    padding-top: calc(2.75rem + 2.5 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-bottom: clamp( 3.0625rem , 2.1711956522rem  +  4.4565217391vw , 5.625rem )) {
  .footer {
    padding-bottom: clamp( 3.0625rem , 2.1711956522rem  +  4.4565217391vw , 5.625rem );
  }
}

@supports not (padding-bottom: clamp( 3.0625rem , 2.1711956522rem  +  4.4565217391vw , 5.625rem )) {
  .footer {
    padding-bottom: calc(3.0625rem + 2.5625 * (100vw - 20rem) / 57.5);
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.625rem;
}

.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6875rem;
  line-height: 1.2222222222;
  color: #000000;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.3125rem;
}

@supports (gap: clamp( 2.5rem , 1.8695652174rem  +  3.152173913vw , 4.3125rem )) {
  .footer__content {
    gap: clamp( 2.5rem , 1.8695652174rem  +  3.152173913vw , 4.3125rem );
  }
}

@supports not (gap: clamp( 2.5rem , 1.8695652174rem  +  3.152173913vw , 4.3125rem )) {
  .footer__content {
    gap: calc(2.5rem + 1.8125 * (100vw - 20rem) / 57.5);
  }
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44.25%;
          flex: 0 1 44.25%;
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57.66%;
          flex: 0 1 57.66%;
}

.left__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-right: clamp( 1.25rem , 0.6847826087rem  +  2.8260869565vw , 2.875rem )) {
  .left__company {
    margin-right: clamp( 1.25rem , 0.6847826087rem  +  2.8260869565vw , 2.875rem );
  }
}

@supports not (margin-right: clamp( 1.25rem , 0.6847826087rem  +  2.8260869565vw , 2.875rem )) {
  .left__company {
    margin-right: calc(1.25rem + 1.625 * (100vw - 20rem) / 57.5);
  }
}

.left__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (margin-right: clamp( 0.625rem , -1.1141304348rem  +  8.6956521739vw , 5.625rem )) {
  .left__column {
    margin-right: clamp( 0.625rem , -1.1141304348rem  +  8.6956521739vw , 5.625rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -1.1141304348rem  +  8.6956521739vw , 5.625rem )) {
  .left__column {
    margin-right: calc(0.625rem + 5 * (100vw - 20rem) / 57.5);
  }
}

.left-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.left-lists__title {
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.left-lists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.left-lists__item {
  font-weight: 400;
  line-height: 1.5714285714;
  color: #889099;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.about__title {
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.about__text {
  font-weight: 400;
  line-height: 1.5714285714;
  color: #889099;
}

.about__text-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
}

.about__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.social__title {
  font-weight: 700;
  line-height: 1.2857142857;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6875rem;
}

.social__content a {
  font-size: 1.75rem;
}

.protected {
  background-color: #22252E;
  padding-top: 12px;
  padding-bottom: 12px;
}

@supports (padding-left: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem )) {
  .protected {
    padding-left: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem )) {
  .protected {
    padding-left: calc(0.0000000625rem + 18.4374999375 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-right: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem )) {
  .protected {
    padding-right: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -6.413043394rem  +  32.0652172826vw , 18.4375rem )) {
  .protected {
    padding-right: calc(0.0000000625rem + 18.4374999375 * (100vw - 20rem) / 57.5);
  }
}

.protected__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.protected__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.protected__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #889099;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

@supports (gap: clamp( 0.9375rem , 0.5679347826rem  +  1.847826087vw , 2rem )) {
  .protected__info {
    gap: clamp( 0.9375rem , 0.5679347826rem  +  1.847826087vw , 2rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5679347826rem  +  1.847826087vw , 2rem )) {
  .protected__info {
    gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 57.5);
  }
}

.protected__messenge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF8D00;
  gap: 4px;
}

.protected__messenge span {
  min-width: 137px;
}

.protected__address {
  min-width: 169px;
}

.protected__isp {
  min-width: 133px;
}

.protected__deteil {
  color: #fff;
  min-width: 87px;
  text-align: center;
}

.protected__close {
  font-size: 1rem;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.protected__close::before {
  color: #889099;
  font-size: 0.875rem;
}

.main-screen {
  padding: 20px 0px 0px 0px;
}

.main-screen__content {
  background: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 6px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-screen__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-screen__image-ibg {
  padding-bottom: 66.6666666667%;
}

.main-screen__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-top: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-right: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-right: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-right: calc(1.875rem + 1.875 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-bottom: clamp( 0.875rem , 0.527173913rem  +  1.7391304348vw , 1.875rem )) {
  .main-screen__right {
    padding-bottom: clamp( 0.875rem , 0.527173913rem  +  1.7391304348vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.527173913rem  +  1.7391304348vw , 1.875rem )) {
  .main-screen__right {
    padding-bottom: calc(0.875rem + 1 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-left: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-left: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 1.222826087rem  +  3.2608695652vw , 3.75rem )) {
  .main-screen__right {
    padding-left: calc(1.875rem + 1.875 * (100vw - 20rem) / 57.5);
  }
}

@supports (gap: clamp( 0.875rem , -0.6467391304rem  +  7.6086956522vw , 5.25rem )) {
  .main-screen__right {
    gap: clamp( 0.875rem , -0.6467391304rem  +  7.6086956522vw , 5.25rem );
  }
}

@supports not (gap: clamp( 0.875rem , -0.6467391304rem  +  7.6086956522vw , 5.25rem )) {
  .main-screen__right {
    gap: calc(0.875rem + 4.375 * (100vw - 20rem) / 57.5);
  }
}

.main-screen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.main-screen__who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #323642;
  gap: 9px;
  line-height: 1.5714285714;
}

.main-screen__month {
  margin: 0px 18px 0px 6px;
}

.main-screen__date {
  color: #889099;
}

.main-screen__tegs {
  color: #4CB649;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  letter-spacing: 0.5px;
}

.main-screen__coments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.main-screen__counter {
  color: #889099;
}

.blog-navigation {
  padding: 30px 0px 40px 0px;
}

.blog-navigation__content {
  padding: 21px 32px 21px 32px;
  background: #F7F7F7;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.3722826087rem  +  2.8260869565vw , 2.5625rem )) {
  .blog-navigation__content {
    gap: clamp( 0.9375rem , 0.3722826087rem  +  2.8260869565vw , 2.5625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.3722826087rem  +  2.8260869565vw , 2.5625rem )) {
  .blog-navigation__content {
    gap: calc(0.9375rem + 1.625 * (100vw - 20rem) / 57.5);
  }
}

.blog-navigation__title {
  text-transform: uppercase;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  font-weight: 500;
}

.tags-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem )) or (column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem ))) {
  .tags-navigation__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem );
       -moz-column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem );
            column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem )) or (column-gap: clamp( 0.9375rem , 0.5244565217rem  +  2.0652173913vw , 2.125rem ))) {
  .tags-navigation__list {
    -webkit-column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 57.5);
       -moz-column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 57.5);
            column-gap: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 57.5);
  }
}

.tags-navigation__link {
  color: #4CB649;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 500;
  line-height: 1.2857142857;
}

.info-blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.info-blog__link {
  text-transform: uppercase;
  line-height: 1.2857142857;
  letter-spacing: 1px;
  color: #323642;
  font-weight: 500;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (margin-bottom: clamp( 0.0000000625rem , -1.5869564375rem  +  7.9347825vw , 4.5625rem )) {
  .blog__sidebar {
    margin-bottom: clamp( 0.0000000625rem , -1.5869564375rem  +  7.9347825vw , 4.5625rem );
  }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -1.5869564375rem  +  7.9347825vw , 4.5625rem )) {
  .blog__sidebar {
    margin-bottom: calc(0.0000000625rem + 4.5624999375 * (100vw - 20rem) / 57.5);
  }
}

.posts-blog {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.posts-blog__title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.375;
  margin: 0px 0px 10px 0px;
}

.posts-blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.posts-blog__item {
  padding: 30px 0px 0px 0px;
}

.posts-blog__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.post::after {
  content: "";
  background: #EBECED;
  height: 1px;
  width: 94.88%;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.9%;
          flex: 0 1 35.9%;
}

.post__image-ibg {
  padding-bottom: 64.2857142857%;
}

.post__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@supports (padding-left: clamp( 0.625rem , -0.027173913rem  +  3.2608695652vw , 2.5rem )) {
  .post__right {
    padding-left: clamp( 0.625rem , -0.027173913rem  +  3.2608695652vw , 2.5rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.027173913rem  +  3.2608695652vw , 2.5rem )) {
  .post__right {
    padding-left: calc(0.625rem + 1.875 * (100vw - 20rem) / 57.5);
  }
}

.post__title {
  max-width: 460px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.4166666667;
}

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.post__who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #323642;
  gap: 9px;
  line-height: 1.5714285714;
}

.post__month {
  margin: 0px 18px 0px 6px;
}

.post__date {
  color: #889099;
}

.post__tegs {
  color: #4CB649;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  letter-spacing: 0.5px;
}

.post__coments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5625rem;
}

.post__counter {
  color: #889099;
}

.sidebar-blog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sidebar-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: -47px;
  display: block;
  height: 97.23%;
  width: 1px;
  background: #EBECED;
}

.sidebar-blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.0625rem;
}

.sidebar-blog__search {
  position: relative;
}

.sidebar-blog__search::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  left: 20px;
  display: block;
  background: url("../img/icons/search.png") 0 0 no-repeat;
}

.sidebar-blog__announcement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
  position: relative;
}

.sidebar-blog__announcement::after {
  position: absolute;
  bottom: -45px;
  content: "";
  width: 94.88%;
  display: block;
  height: 1px;
  background: #EBECED;
}

.sidebar-blog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-blog__list {
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.sidebar-blog__item {
  line-height: 1.5714285714;
  color: #323642;
  position: relative;
}

.sidebar-blog__item::before {
  content: "";
  position: absolute;
  display: block;
  left: -15px;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4CB649;
}

.sidebar-blog__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
  position: relative;
}

.sidebar-blog__popular::after {
  position: absolute;
  bottom: -45px;
  content: "";
  width: 94.88%;
  height: 1px;
  background: #EBECED;
}

.advertisement-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.1875rem;
  width: 100%;
}

.advertisement-sidebar__main {
  width: 100%;
}

.advertisement-sidebar__image-ibg {
  padding-bottom: 133.5294117647%;
}

.info-advertisement__title {
  margin: 0px 0px 15px 0px;
}

.info-advertisement__image-ibg {
  padding-bottom: 95.3703703704%;
}

.prise {
  background: -o-linear-gradient(315deg, #3D4251 0%, #272B35 100%);
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
}

@supports (padding-top: clamp( 1.25rem , -0.4891304348rem  +  8.6956521739vw , 6.25rem )) {
  .prise {
    padding-top: clamp( 1.25rem , -0.4891304348rem  +  8.6956521739vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.4891304348rem  +  8.6956521739vw , 6.25rem )) {
  .prise {
    padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 57.5);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5326086957rem  +  3.5869565217vw , 3.3125rem )) {
  .prise {
    padding-bottom: clamp( 1.25rem , 0.5326086957rem  +  3.5869565217vw , 3.3125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5326086957rem  +  3.5869565217vw , 3.3125rem )) {
  .prise {
    padding-bottom: calc(1.25rem + 2.0625 * (100vw - 20rem) / 57.5);
  }
}

.prise__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.prise__title {
  font-weight: 300;
  line-height: 1.3333333333;
  letter-spacing: -0.5px;
  color: #fff;
}

@supports (font-size: clamp( 2rem , 1.652173913rem  +  1.7391304348vw , 3rem )) {
  .prise__title {
    font-size: clamp( 2rem , 1.652173913rem  +  1.7391304348vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.652173913rem  +  1.7391304348vw , 3rem )) {
  .prise__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 57.5);
  }
}

.prise__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prise__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-weight: 500;
  line-height: 1.2857142857;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4CB649;
}

.prise__how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 13px;
}

.prise__how::before {
  font-size: 0.9375rem;
}

.prise__gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 13px;
}

.prise__gift::before {
  font-size: 0.9375rem;
}

.touched {
  border: 4px solid #FF8D00 !important;
  border-radius: 4px;
}

.touched .card__button {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3.81%, #FF8D00), color-stop(97.78%, #FFA400));
  background: -o-linear-gradient(bottom, #FF8D00 3.81%, #FFA400 97.78%);
  background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
  border: transparent;
}

.card {
  background: #FFFFFF;
  border: 4px solid #EBECED;
  border-radius: 6px;
  padding: 40px 87px;
  cursor: pointer;
  height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border: 4px solid transparent;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}

.card__title {
  color: #323642;
  font-weight: 500;
  line-height: 1.2857142857;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
}

.card__title::after {
  content: "";
  width: 24px;
  height: 2px;
  position: absolute;
  background-color: #4CB649;
  bottom: -12px;
  right: 35%;
}

.card__prise {
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1.1785714286;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: #22252E;
  position: relative;
  margin: 0px 0px 45px 0px;
}

.card__prise::before {
  margin: 8px 0px 0px 0px;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.card__prise span {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.card__prise::after {
  content: "";
  display: block;
  bottom: -18px;
  width: 12.5rem;
  height: 0.0625rem;
  background: #EBECED;
  position: absolute;
}

.addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.addition__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addition__old {
  font-weight: 400;
  line-height: 1.5714285714;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F24458;
}

.addition__new {
  font-weight: 400;
  line-height: 1.5714285714;
  color: #323642;
}

.addition__sale {
  font-weight: 700;
  line-height: 1.5714285714;
}

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.pay__title {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #fff;
}

.pay__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (min-width: 47.99875em) {
  .sidebar-blog__announcement::after {
    bottom: -29px;
  }

  .sidebar-blog__popular::after {
    bottom: -29px;
  }
}

@media (min-width: 61.99875em) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .tags-navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 62em) {
  .input {
    width: 100%;
    padding: 0px 0px 0px 58px;
  }

  .posts-blog {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 65%;
            flex: 1 1 65%;
  }

  .sidebar-blog {
    display: none;
  }

  .sidebar-blog__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 71px 0px 0px 0px;
    gap: 91px;
  }

  .sidebar-blog__announcement::after {
    display: none;
  }

  .sidebar-blog__popular::after {
    display: none;
  }

  .advertisement-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advertisement-sidebar__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }

  .info-advertisement {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 65.5em) {
  .sidebar-blog::before {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .header__container-wide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__buttons :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 initial !important;
            flex: 1 0 initial !important;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 120px 0px 0px 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 1;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 100px;
    left: 0;
    top: -100%;
    position: fixed;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 35px;
  }

  .menu-open .protected {
    display: none;
  }

  .main-screen__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-screen__left {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }

  .posts-blog__title {
    margin: 40px 0px 10px 0px;
  }

  .posts-blog__body {
    gap: 60px;
  }

  .posts-blog__item {
    padding: 18px 0px 0px 0px;
  }

  .post {
    gap: 38px;
  }

  .post__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .pay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 21px;
  }
}

@media (max-width: 61.625em) {
  .header__login {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 55.5625em) {
  .advertisement-sidebar__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .info-advertisement {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 49.375em) {
  .sidebar-blog__announcement::after {
    display: block;
  }

  .sidebar-blog__popular::after {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .header__started {
    padding: 11px 13px;
  }

  .left__legal {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .prise__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 34px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card {
    padding: 40px 55px;
  }

  .pay__services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 43.75em) {
  .blog-navigation {
    display: none;
  }

@supports (padding-top: clamp( 2.5rem , 1.1956521739rem  +  6.5217391304vw , 6.25rem )) {
    .blog {
      padding-top: clamp( 2.5rem , 1.1956521739rem  +  6.5217391304vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.1956521739rem  +  6.5217391304vw , 6.25rem )) {
    .blog {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 57.5);
    }
}
}

@media (max-width: 29.5625em) {
  .left__column {
    gap: 35px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .left__legal {
    margin: 0px 40px 0px 0px;
  }

  .social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding: 0px 0px 0px 11px;
  }

  .social__content a {
    font-size: 1.25rem;
  }
}

@media (max-width: 23.4375em) {
  .protected {
    padding-right: 40px;
    padding-left: 0px;
  }

  .protected__messenge {
    margin: 0px 73px 0px 0px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#4CB649), to(#5DDF5A));
    background: -o-linear-gradient(bottom, #4CB649 0%, #5DDF5A 100%);
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  }

  .menu__item:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #4CB649;
    opacity: 1;
    bottom: -6px;
  }

  .card:hover {
    padding: 59px 87px;
    border: 4px solid #4CB649;
  }

  .card:hover .card__button {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#4CB649), to(#5DDF5A));
    background: -o-linear-gradient(bottom, #4CB649 0%, #5DDF5A 100%);
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  }
}